html,
body,
#root {
//   width: 100%;
//   height: 100%;
  margin: 0;
  padding: 0;
}
html,
body,
div,
a,
i,
button,
select,
option,
optgroup,
hr,
br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.icon {
    height: 30px;
}

.home {
    background-image: url(/src/works-img/flower.jpg);
    height: 100vh;
    width: 100%;
    // background-repeat: no-repeat;
    background-size: cover;
}

.card-group {
    display: flex;
    flex-direction: row;
    // align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.card {
    margin: auto 50px;
}

.skills-all {
    display: flex;
    flex-wrap: wrap;
    li {
        list-style: none;
        i {
            font-size: 50px;
        }
    }
}

.skill-icon {
    font-size: 40px;
}

.simple-trans-main > div {
    cursor: pointer;
    // position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 25em;
    will-change: transform, opacity;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  }
  
  .center {
      justify-content: center;
  }